@model List<Contact>
@{
    ViewData["Title"] = "GetMessageByTesekkur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Teşekkür Mesajları</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Konu</th>
        <th>Email</th>
        <th>Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.Email</td>
            <td>@item.Message</td>
        </tr>
    }
</table>