@model IEnumerable<PizzaPan.EntityLayer.Concrete.OurTeam>

@{
    ViewData["Title"] = "Personel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Personeller</h1>

<p>
    <a asp-action="Add">Personel Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Çalışan
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facebook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Twitter)
                </td>
                <td>
                    <img title="@Html.DisplayFor(modelItem=>item.Name)" style="height:80px;width:80px; border-radius:50%" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem=>item.Name)">
                </td>
                <td>
                    @{
                        if (item.Status == true)
                        {
                            <label>Aktif</label>
                        }
                        else
                        {
                            <label>Pasif</label>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id=item.OurTeamID}) |
                    @Html.ActionLink("Detaylar", "Details", new {  id=item.OurTeamID }) |
                    @Html.ActionLink("Sil", "Delete", new {  id=item.OurTeamID })
                </td>
            </tr>
        }
    </tbody>
</table>
